* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #363636;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 97%;
}

.result {
  border: 2px solid #4F81BD;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
}

.result span {
  font-size: 2.5rem;
}

.result p {
  font-size: 1.125rem;
  margin-top: 8px;
}

h1,
h2 {
  margin-bottom: 40px;
  font-weight: 500;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

input:focus {
  border: 1px solid #ccc;
  outline: none;
}

button {
  border: none;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  font-weight: 500;
  font-size: 1.125rem;
  background-color: #4F81BD;
  color: #071525;
  transition: 0.2s ease;
}

button:hover {
  background-color: #4879b6;
}

.calculator .inputs {
  display: flex;
  flex-direction: column;
}

.input-number {
  margin-bottom: 20px;
}

@media(max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}